# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Kotlin
.gradle
.kotlin

# User
[Bb]uild/
[Ss]aved/
.vscode/
.vs/
.idea/
[Ii]ntermediate/
!**/third_parties/**
*.pdb
**/obj/
**/bin/
**/cmake-build-**/
/test/test_core/test.txt
**/crash_dump/
**/temp/
**/vcpkg_installed/

# Ignore Gradle build output directory
build
